- if user_signed_in?
  %li
    = link_to t('devise.messages.profile'), edit_user_registration_path
  %li
    = link_to t('devise.messages.sign_out'), destroy_user_session_path, :method => :delete
- else
  %li
    = link_to t('devise.messages.sign_in'), new_user_session_path
  %li
    = link_to t('devise.messages.sign_up'), new_user_registration_path

